
body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 15px;
}

h1, p {
    color: #333;
}

#new_task_text {
    border-radius: 0.3em;
    padding: 0.3em 0.7em;
    border-width: 1px;
    outline: none;
}

.add_task {
    position: relative;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 0.3em;
    padding: 0.3em 0.7em;
    cursor: pointer;
}

#add_task:hover {
    background-color: #ddd;
}

#all_tasks {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 2em 0;
    text-align: left;
}

.todo-item {
    position: relative;
    border: 1px solid #777;
    padding: 0.5em 1em;
    margin: 0.5em;
    background: #fff;
    cursor: pointer;
}
.todo-item:hover {
    background: #ddd;
}
.todo-item-completed {
    color: #ccc;
    border-color: #ccc;
}

.task-buttons {
    float: right;
    height: 100%;
    background: transparent;
    border: none;
    color: #aaa;
    padding: 0.7em 0.5em;
    margin-top: -0.5em;
    cursor: pointer;
}
.task-buttons:hover {
    color: #333;
}

.content {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
